<h1>Du bist noch nicht eingeloggt!</h1>
<a href="/static_pages/attend">
  <div class="container facebook-box">
    <h2>Mit Facebook einloggen</h2>
  </div>
  <div class="container foodsharing-box">
    <h2>Mit food<span>sharing</span> einloggen</h2>
  </div>
</a>
  
