<div class="container formulario">
<h2>Warum?</h2>
<div class="row">
  <p class="description">In den Industrieländern gehen die Lebensmittel zu über 40 Prozent im Handel sowie bei den KonsumentInnen verloren, überwiegend, indem essbare Lebensmittel weggeworfen werden.</p>
  <p class="description">Durchschnittlich werfen der Wiener und die Wienerin jährlich rund 40 Kilogramm an Lebensmitteln weg, die eigentlich gegessen hätten werden können.</p>
</div>
</div>

<div class="row bullets">
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Creative cooking</li>
      </h3>
      <span class="description">Gemeinsam verkochen wir leckere sachen!</span>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Got leftovers?</li>
      </h3>
      <span class="description">Bananen, abgelaufene Milch... Gerne auch Restl!</span>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Mach mit!</li>
      </h3>
      <span class="description">Bring deine Restl oder Raum für ein gemeinsames Kochen!</span>
    </ul>
  </div>
</div>

    <div class="row">
      <a href="/static_pages/map" class="btn btn-success mach-mit" role="button">Event finden</a>
      <a href="/static_pages/event" class="btn btn-success mach-mit" role="button">Event hosten</a>
    </div>
