<div class="row bullets">
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Creative cooking</li>
      </h3>
      Gemeinsam verkochen wir leckere sachen!
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Got leftovers?</li>
      </h3>
      Bananen, abgelaufene Milch... Gerne auch Restl!
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Mach mit!</li>
      </h3>
      Bring deine Restl oder Raum für ein gemeinsames Kochen!
    </ul>
  </div>
</div>

    <div class="row">
      <a href="/static_pages/map" class="btn btn-success mach-mit" role="button">Event finden</a>
      <a href="/static_pages/event" class="btn btn-success mach-mit" role="button">Event hosten</a>
    </div>
