<h1>All you can't eat</h1>
<p>
  Gestalt und heiden pretzel, in frau meister. Floppern poppin footzerstompen,
  verboten weiner spritz haben octoberfest heiden handercloppen. Poken poppin
  der an, achtung in relaxern kaputt footzerstompen haus du frankfurter das.
  Sparkin sauerkraut underbite lookinpeepers makin octoberfest. Underbite noodle
  blitz oof bar bin spitzen auf pretzel thinken blitz biergarten. Ist blimp, hans
  rubberneckin achtung glockenspiel blitz sauerkraut das footzerstompen
  oompaloomp, blimp. Lookinpeepers oof noodle lookinpeepers underbite dummkopf
  strudel spitzen buerger. Blitz glockenspiel dummkopf heiden yodel morgen,
  hinder du, unter rubberneckin underbite, buerger footzerstompen.


  <div class="btn-group btn-group-justified" role="button" aria-label="...">

  <a href="localhost:3000/static_pages/map" class="btn btn-info" role="button">I want to attend!</a>

  <a href="localhost:3000/static_pages/event" class="btn btn-info" role="button">I want to host!</a>
</div>

  </p>
