<div class="row bullets">
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Creative cooking</li>
      </h3>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Got leftovers?</li>

      </h3>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <h3>
        <li>Mach mit!</li>
      </h3>
    </ul>
  </div>
</div>

    <div class="row">
      <a href="/static_pages/map" class="btn btn-success" role="button">I want to attend!</a>
      <a href="/static_pages/event" class="btn btn-success" role="button">I want to host!</a>
    </div>
