<!DOCTYPE html>
<html>
	<head>
		<title>Aaron Cruz</title>
	</head>
	<body>
    <table align="left", style="width 100%">

     <tr>
       <td>  <%= image_tag "foodPartyHouse.jpg", class: "img-rounded" %></td>
       <td> </td>
       <td> </td>
     </tr>
     <tr>
       <td><h2>Aaron Cruz</h2></td>
       <td> </td>
       <td> </td>
     </tr>
     <tr>
       <td> <h3>Vienna, Austria</h3> </td>
     </tr>

    </table>

    <table align="right", style="width 100%">

      <tr>
        <td> <h2> Activity </h2> </td>
      </tr>
      <tr>
        <td> Aaron has hosted three events</td>
      </tr>
        <tr>
        <td> Aaron has attended seven events</td>
      </tr>

      <tr>
        <td> <h2>Reviews</h2> </td>
      </tr>
      <tr>
        <td> Great party! Looking forward to the next! </td>

      </tr>

      <table align="center", style="width 100%">

        <tr>
          <td><h2> Upcoming Events </h2></td>
        </tr>

        <tr>
          <td> <a href="/static_pages/event">Aaron's Frühlingsball</a> </td>

	</body>
</html>
