<!DOCTYPE html>
<html>
	<head>
		<title>Aaron Cruz</title>
	</head>
	<body>
    <table align="center", style="width 100%">

     <tr>
       <td>  <%= image_tag "foodPartyHouse.jpg", class: "img-rounded" %></td>
       <td> </td>
       <td> </td>
     </tr>
     <tr>
       <td><h2>Aaron Cruz</h2></td>
       <td> </td>
       <td> </td>
     </tr>
     <tr>
       <td> <h3><small>Vienna, Austria</small></h3> </td>
     </tr>

    </table>

    <table align="center", style="width 100%">

      <tr>
        <td> <h2> Activity </h2> </td>
      </tr>
      <tr>
        <td> Aaron has hosted three events</td>
      </tr>
        <tr>
        <td> Aaron has attended seven events</td>
      </tr>

      <tr>
        <td> <h2>Reviews</h2> </td>
      </tr>
    </table>

    <table border="0", align="center">
      <tr>
        <td><h3>&#9733; &#9733; &#9733; &#9733; &#9734;</h3> </td>

        </tr>
      </table>
      <table align="center", style="width 100%">
      <tr>

        <td> <h3><small> SHELLY:</small></h3>Great party! Looking forward to the next! </td>


      </tr>

      <tr>
        <td>  <h3><small> IGOR:</small></h3>Thanks for attending my food party, See you at the frühlingsfest! </td>
      </tr>
    </table>

      <table align="center", style="width 100%">

        <tr>
          <td><h2> Upcoming Events </h2></td>
        </tr>

        <tr>
          <td> <a href="/static_pages/event">Aaron's Frühlingsball</a> </td>
        </tr>

        <tr>
          <td> Igor's Restl Festl </td>
        </tr>

        <tr>
          <td><h2> Past Events <h2></td>
           </tr>

        <tr>
          <td>Pilar's Pumpkin Party </td>
        </tr>

        <tr>
          <td>Ramon's Rockin' Rhubarb Rave </td>
        </tr>


	</body>


</html>
