@import "bootstrap-sprockets";
@import "bootstrap";

#main-container {
  text-align: center;
}

nav {
  height: 72px;
  margin-bottom: 24px;
  background-color: #4A3520;

  h1 {
    text-align: left;
    font-family: 'Alfa Slab One', cursive;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #ffffff;
      text-decoration:none;
    }
    span {
      color: #5AB946;
    }
  }
}
.mach-mit {
  font-size: 2em;
    font-family: 'Alfa Slab One', cursive;
}
.row-centered {
    text-align:center;
    margin-bottom: 1em;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-xs-small {
  width: 120px;
}

.bullets {
  text-align: left
}

.container {
    a:hover {
      text-decoration:none;
    }
  background-color: #F8F6E1;
  .facebook-box {
    color: #f7f7f7;
    background-color: #3b5998;
    margin-bottom: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  .foodsharing-box {
    background-color: #4A3520;
    color: #ffffff;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    span {
      color: #5AB946;
    }
  }
}

.rotate {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg); // Internet Explorer 9
          transform: rotate(90deg);
}

body {
  up: 10px;
  background-color: #F8F6E1;
  color: #4A3520;
}

h3 {
  font-family: 'Alfa Slab One', cursive;
  a {
    color: #4A3520;
  }
  a:hover {
    color: #5AB946;
    text-decoration:none;
  }
}
h2 {
  font-family: 'Alfa Slab One', cursive;
  a {
    color: #4A3520;
  }
  a:hover {
    color: #ffffff;
    text-decoration:none;
  }
}

h4 {
  font-family: 'Alfa Slab One', cursive;
  a {
    color: #F1E7C9;
  }
  a:hover {
    color: #644F3A;
    text-decoration:none;
  }
}

#map {
  height: 750px;
  width: 100%;
}

.map-row {
  margin-left: 0px;
  margin-right: 0px;
  .col-sm-4 h3 {
    margin-top: 3px;
  }
  a {
    margin-right: 15px;
  }
}
