@import "bootstrap-sprockets";
@import "bootstrap";

#main-container {
  text-align: center;
}

nav {
  height: 72px;
  background-color: #644F3A;
  margin-bottom: 24px;

  h1 {
    text-align: left;
    font-family: 'Alfa Slab One', cursive;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #ffffff;
      text-decoration:none;
    }
    span {
      color: #5AB946;
    }
  }
}

body {
  up: 10px;
  background-color: #F8F6E1;
}

#map { 
  height: 750px; 
  width: 100%;
}


