<!DOCTYPE html>
<html>
<head>
  <title>FoodParty</title>
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav id="header" class="container-fluid">
    <h1>
      
      <a href='/'>All You <span>Can't Eat</span></a></h1>
  </nav>

  <div id="main-container" class="container">
    <%= yield %>
  </div>

</body>
</html>
